  # The `upstream` directives ensure that you have a http/1.1 connection
  # This enables the keepalive option and better performance
  #
  # Define the server IP and ports here.
  upstream vaultwarden-default {
    zone vaultwarden-default 64k;
    server vaultwarden:80;
    keepalive 2;
  }

  # Redirect HTTP to HTTPS
  # server {
  #     listen 80;
  #     listen [::]:80;
  #
  #     return 301 https://$host$request_uri;
  # }
  # server {
  #   listen 443 ssl;
  #   listen [::]:443 ssl;
  # }
  server {
    location / {
      root /data/www;
    }
  }
  server {
    # For older versions of nginx appended http2 to the listen line after ssl and remove `http2 on`
    # http2 on;
    server_name vw.${DOMAIN};
    location / {
      proxy_pass http://vaultwarden:80;
    }
  }
